# https://pre-commit.com/

ci:
  skip:
    - typos

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  # run "pre-commit autoupdate --freeze" to update the version
  rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-illegal-windows-names
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://pre-commit.com/#repository-local-hooks
- repo: local
  hooks:
  - id: typos
    name: check typos
    # https://pre-commit.com/#supported-languages
    # https://pre-commit.com/#system
    language: unsupported
    entry: typos
    # https://pre-commit.com/#creating-new-hooks
    pass_filenames: false
